<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppClipRequestEphemeralUserNotification</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Heebo-VariableFont_wght.ttf</string>
		<string>Oswald-VariableFont_wght.ttf</string>
		<string>primaries-demibold-aaa.otf</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Brain uses speech recognition to convert your voice into a query.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Brain needs microphone access for voice input.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
